#bredballe-section5 {
    display: flex;
    justify-content: space-between;
    padding: 4% 16.3%;
    h2 {
        font-family: "Montserrat Bold";
    }
    .left-section5 {
        width: 40%;
    }
    .cardvisit {
        align-self: flex-end;
        margin-bottom: 15%;
        width: 48%;
        margin-right:0;
        max-width:46rem;
    }
    @media screen and(max-width:767px) {
        flex-direction: column;
        align-items: center;
        .left-section5,
        .cardvisit {
            width: 100%;
        }
        .cardvisit {
            max-width: 32rem;
            align-self: center;
        }
    }
}
